---
import Main from "../layouts/Main.astro"
---

<Main page="Contributing">
	<style>
		a {
			background-color: #192841;
			color: #c3fffc;
            margin-right: 5px;
            margin-top: 5px;
			text-decoration: none;
			padding: 10px 20px;
			font-size: 16px;
			border-radius: 6px;
			position: relative;
			border: 1px solid #192841;
		}
		a:hover {
			background-color: #c3fffc;
			color: #192841;
            margin-right: 5px;
            margin-top: 5px;
			text-decoration: none;
			padding: 10px 20px;
			font-size: 16px;
			border-radius: 6px;
			position: relative;
			border: 1px solid #192841;
		}
	</style>
	<h1>How do you want to help?</h1>
    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
	
    <a href="/new-app">I want to add more apps!</a>

    <a href="/more">I want to help with something else!</a>
    </div>
    <br />
	<br />
	<br />

    <a href="https://github.com/LucasHT22/bearnard">Jump to GitHub!</a>
</Main>