---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General WakaTime - Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #c8c3ff;
        }
        .main {
            color: #192841;
            margin: 5%;
        }
    </style>
    <div class="main">
		<img src="../assets/bearnard.png" >
		<h1>Hey, I'm Bearnard!</h1>
		<h2>I promise I'll bear with you, let's make your own WakaTime tracker?</h2>
    </div>
</body>
</html>