---
import Main from "../layouts/Main.astro"
---

<Main page="Welcome!">
	<style>
		a {
			background-color: #192841;
			color: #c3fffc;
			text-decoration: none;
			padding: 5px;
			border-radius: 5px;
		}
		a:hover {
			background-color: #c3fffc;
			color: #192841;
			text-decoration: none;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #192841;
		}
	</style>
	<h1>Hey, I'm Bearnard!</h1>
	<h2>I promise I'll bear with you, let's make your own WakaTime tracker?</h2>
	<a href="/go">Let's go!</a>
</Main>