---
import Main from "../layouts/Main.astro"
---

<Main page="Contributing">
	<style>
		a {
			background-color: #192841;
			color: #c3fffc;
			text-decoration: none;
			padding: 10px 20px;
			font-size: 16px;
			border-radius: 6px;
			position: relative;
			border: 1px solid #192841;
		}
		a:hover {
			background-color: #c3fffc;
			color: #192841;
			text-decoration: none;
			padding: 10px 20px;
			font-size: 16px;
			border-radius: 6px;
			position: relative;
			border: 1px solid #192841;
		}
        .banner {
			background-color: #ec3750;
			color: white;
			text-align: center;
			padding: 12px 20px;
			font-family: sans-serif;
			font-weight: bold;
			position: relative;
			border-radius: 10px;
		}

		.banner a {
			color: white;
			text-decoration: underline;
			font-weight: 600;
			margin-left: 10px;
		}

		.close-banner {
			position: absolute;
			right: 10px;
			top: 10px;
			background: none;
			border: none;
			color: white;
			font-size: 16px;
			cursor: pointer;
		}

		@media (max-width: 600px) {
			.banner {
				font-size: 14px;
				padding: 10px;
			}
		}

        pre, code {
            background: #1a1a1a;
            padding: 10px;
            overflow-x: auto;
            overflow-y: auto;
            max-height: 400px;
            width: 50vw;
            color: #0f0;
            text-align: left;
            box-sizing: border-box;
            white-space: pre;
            margin: 0;
        }
	</style>
    <div class="banner" id="banner">
		Use it wisely! Be careful about the type of app you want to add.
		<button class="close-banner" onclick="document.getElementById('banner').style.display='none';">✕</button>
	</div>

	<h1>Here's a step by step:</h1>
	
    <h2>1. Get process name</h2>
    <p>Do not trust Task Manager, use <code>tasklist</code> on <code>cmd</code>.</p>

    <h2>2. Fill out the template</h2>
    <pre>
        &#123;
            "process_name": ".exe",
            "window_keyword": "",
            "project": "",
            "language": "",
            "plugin": "bearnard"
        &#123;
    </pre>

    <h2>3. Contribute to the repo!</h2>

    <a href="https://github.com/LucasHT22/bearnard">Go to GitHub!</a>
</Main>